* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header{
  width: 1500px;
  background: #FFFFFF;
  padding: 8px 100px;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo{
  transition: 0.5s;
}
.navbar__logo:hover{
  transform: scale(1.05);
}
.navbar__categories {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 50px;
}
.navbar__category{
  color: #000000;
  opacity: 0.6;
}
.navbar__category:hover{
  cursor: pointer;
  color: brown;
}
.navbar__btn{
  padding: 5px 9px;
  background: transparent;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}
.navbar__btn:hover{
  cursor: pointer;
  color: brown;
}

.main {
  width: 100%;
  background: #F4F8FA;
  padding: 25px 0;
}
.wrapper{
  width: 500px;
  background: #FFFFFF;
  margin:  0 auto;
  border-radius: 10px;
  box-shadow: 0 0 7px #0002;
}
/* Global css start */
.container{
  width: 450px;
  padding: 40px 40px;
  margin: 0 auto;
}
a{
  color: inherit;
  /* text-decoration: inherit; */
}
/* global css end */
.wrapper__logo{
  display: flex;
  justify-content: center;
  padding: 0 0 25px 0;
  transition: 0.5s;
}
.wrapper__logo:hover{
  transform: scale(1.05);
}
.wrapper__title{
  text-align: center;
  margin-bottom: 56px;
}
.wrapper__title h2{
  font-size: 29px;
  font-weight: 700;
  margin-bottom: 16px;
}
.title__text{
  color: #444150;
  opacity: 0.9;
}
.wrapper__title a{
  font-weight: 600;
  color: #01BAB3;
}
.input{
  display: flex;
  gap: 16px;
}
.input__name{
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input__content{
  font-weight: 600;
}
.name__box{
  color: #444150; 
  opacity: 50%; 
  padding: 12px 16px;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  transition: 0.5s;
}
.name__box:hover{
  border: 1px solid #01BAB3;
  cursor: pointer;
  transform: scale(1.03);
}
.surname__box{
  color: #444150; 
  opacity: 50%; 
  padding: 12px 16px;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  transition: 0.5s;
}
.surname__box:hover{
  border: 1px solid #01BAB3;
  cursor: pointer;
  transform: scale(1.03);
}
.birth{
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  gap: 8px;
}
.birth__input{
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  padding: 12px 16px;
  transition: 0.5s;
}
.birth__input:hover{
  border: 1px solid #01BAB3;
  cursor: pointer;
  transform: scale(1.03);
}
.input__gender{
  display: flex;
  gap: 16px;
}
.input__gender:hover{
  cursor: pointer;
}
.gender{
  width: 200px;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  padding: 12px 16px;
  transition: 0.5s;
}
.gender:hover{
  border: 1px solid #01BAB3;
  cursor: pointer;
  transform: scale(1.03);
}
.skype{
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  gap: 8px;
}
.skype__input{
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  padding: 12px 16px;
  transition: 0.5s;
}
.skype__input:hover{
  border: 1px solid #01BAB3;
  cursor: pointer;
  transform: scale(1.03);
}
.promo{
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  gap: 8px;
}
.promo__input{
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  padding: 12px 16px;
  transition: 0.5s;
}
.promo__input:hover{
  border: 1px solid #01BAB3;
  cursor: pointer;
  transform: scale(1.03);
}
.btn__link{
  width: 100%;
  padding: 12px 0;
  background: #01BAB3;
  border: none;
  color: #FFFFFF;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  transition: .5s;
}
.btn__link:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.wrapper__bottom{
  text-align: center;
  margin-top: 65px;
  font-size: 14px;
  color: #000000;
  opacity: 0.6;
}